@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ranchers&family=Vollkorn&display=swap');

html,
body {
	background-color: #000;
	box-sizing: border-box;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	font-weight: 300;
	height: 100%;
	margin: 0;
	padding: 0;
	text-rendering: optimizeLegibility;
	width: 100%;
}

#app {
	overflow: hidden;
}
